

<body>
<h1 id="hd2">17 deaths on India's roads every hour,</h1>
<h1 id="hd2">Chennai and Delhi are most dangerous</h1>
<hr>
<div id="z1" class="row">
    <div class="col-sm-3">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
         <div class="card-header"  style="text-align: center"><b>IN THE YEAR</b></div>

            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ACCIDENTS</th>
                        <th scope="col">DEATHS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: crimson; size: 50%">4,80,652</td>
                        <td style="color: crimson">1,50,785</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"  style="text-align: center"><b>EVERY DAY</b></div>

             <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ACCIDENTS</th>
                        <th scope="col">DEATHS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: crimson; size: 50%">1,317</td>
                        <td style="color: crimson">413</td>
                      </tr>
                    </tbody>
                  </table>

              </div>
      </div>
    </div>
    <div class="col-sm-3">
       <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header"  style="text-align: center"><b>EVERY HOUR</b></div>

             <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ACCIDENTS</th>
                        <th scope="col">DEATHS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: crimson; size: 50%">55</td>
                        <td style="color: crimson">17</td>
                      </tr>
                    </tbody>
                  </table>
             </div>
       </div>
    </div>
  </div>
<hr>
<div id="z1" class="row">
  <div id="it1" class="col-sm-3">
    <div id="cd1" class="card" style="width: 19rem;">
        <div class="card-body">
            <img src="assets/img/car.png">
              <div id="forz">
          <h5 class="card-title">FEWER ACCIDENTS,MORE DEATHS</h5>
          <table class="table" style="font-size: 70%">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" style="color: crimson">2016</th>
                  <th scope="col" style="color: crimson">2017</th>
                  <th scope="col" style="color: crimson">%change</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Accidents</td>
                    <td>5,01,423</td>
                    <td>4,80,652</td>
                    <td>-4.1</td>
                </tr>

                <tr>
                    <td>Killed</td>
                    <td>1,46,133</td>
                    <td>1,50,785</td>
                    <td>3.2</td>
                </tr>

                <tr>
                    <td>Injured</td>
                    <td>5,00,279</td>
                    <td>4,94,624</td>
                    <td>-1.1</td>
                </tr>

                <tr>
                    <td>Severity*</td>
                    <td>29.1</td>
                    <td>31.4</td>
                    <td>7.9</td>
                </tr>
              </tbody>
            </table>
            <p style="font-size: 60%">*Accident Severity is the number of persons killed per 100 acidents</p>
          </div>
            <br><br>
            <h5 class="card-title">HIGHWAYS NOT THE BIGGEST KILLERS</h5>
            <table class="table" style="font-size: 70%">
                <thead>
                  <tr>
                    <th scope="col" style="color: crimson">Road type</th>
                    <th scope="col" style="color: crimson">Share of accidents</th>
                    <th scope="col" style="color: crimson">Share of accident deaths</th>
                    <th scope="col" style="color: crimson">Share of persons injured</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>National Highways</td>
                      <td>29.36</td>
                      <td>34.5</td>
                      <td>29.6</td>
                  </tr>

                  <tr>
                      <td>State Highways</td>
                      <td>25.3</td>
                      <td>27.9</td>
                      <td>25.8</td>
                  </tr>

                  <tr>
                      <td>Other roads</td>
                      <td>45.1</td>
                      <td>37.6</td>
                      <td>44.6</td>
                  </tr>
                </tbody>
              </table>
              <p style="font-size: 60%">All figures in percent</p>
              <br><br>
            <h5 class="card-title">SPPEDING BIGGEST PROBLEM,MOBILES AN ISSUE TOO</h5>
            <p class="card-text"><span style="color: crimson">SPEEDING</span> caused 66.5% of all road accidents and 61% of deaths</p>
            <p class="card-text"><span style="color: crimson">OVERTAKING</span> caused 7.3% of all road accidents and 7.8% of deaths</p>
            <p class="card-text"><span style="color: crimson">INTAKE OF ALCOHOL/DRUGS</span> caused 3.7% of all road accidents and 5.1% of deaths </p>
            <p class="card-text"><span style="color: crimson">TALKING OVER MOBILES</span> caused 4,976 accidents,2,138 deaths and 4,746 injuries  </p>
        </div>
      </div>
    </div>
    <div id="it2" class="col-sm-3">
        <div  id="cd2" class="card" style="width: 38rem;">
            <div class="card-body">

              <h5 class="card-title" style="text-align: center;font-size:300%">84%</h5>
              <h5 class="card-title" style="text-align: center">DEATHS IN 13 STATES,UP ON TOP</h5>
              <google-chart [data]="pieChartData" id="chart"></google-chart>
              <h5 class="card-title" >SPEEDBUMPS AND PATHHOLES KILLED 15 EVERYDAY</h5>
              <div class="media">
                  <img src="assets/img/spd.png">
                  <div class="media-body" id="mdbd">
                      <br>
                    <h5 class="mt-0" style="color: crimson">SPEED BRAKER CAUSED</h5>
                    <p><b>9,583</b> roads accidents and </p>
                    <p><b>3,396</b> people killed</p>
                  </div>
                </div>
                <div class="media">
                    <img src="assets/img/path.png">
                    <div class="media-body" id="mdbd">
                      <br>
                      <h5 class="mt-0" style="color: crimson">POTHHOLES LED TO</h5>
                      <p><b>6,424</b> roads accidents and </p>
                      <p><b>2,324</b> fatalities</p>
                    </div>
                  </div>
                  <br>
                  <br>
                  <h5 class="card-title" >NEWEST VEHICLES IN MOST ACCIDENTS</h5>
                  <google-chart [data]="pieChartData1" id="chart"></google-chart>

            </div>
        </div>
    </div>

    <div id="it3" class="col-sm-3">
        <div id="cd3" class="card" style="width: 19rem;">
            <div class="card-body" style="font-size:93%">
                <img src="assets/img/images.png">
                <h5 class="card-title" style="text-align: center">DELHI,CHENNAI</h5>
                <h5 class="card-title" style="text-align: center">ROADS MOST DANGEROUS</h5>
                <p class="card-text" style="text-align: center"><span style="color: crimson">CHENNAI :</span>
                  <br><span>LARGEST NUMBER OF ROAD ACCIDENTS</span>
                  <br><span style="font-size: 200%;color: crimson">7,486</span>
                </p>
                <hr>
                <p class="card-text" style="text-align: center"><span style="color: crimson">DELHI :</span>
                  <br><span>LARGEST NUMBER OF ROAD ACCIDENT DEATHS</span>
                  <br><span style="font-size: 200%;color: crimson">1,591</span>
                </p>
                <hr>
                <p class="card-text" style="text-align: center"><span style="color: crimson">CHENNAI :</span>
                  <br><span>LARGEST NUMBER OF INJURED PERSONS</span>
                  <br><span style="font-size: 200%;color: crimson">7,349</span>
                </p>
                <hr>
                <p class="card-text" style="text-align: center"><span style="color: crimson">LUDHIANA :</span>
                  <br><span>HIGHEST ACCIDENT SEVERITY</span>
                  <br><span style="font-size: 200%;color: crimson">69.9</span>
                </p>
                <hr>
                <p><span style="color: crimson">50 CITIES</span> WITH MILLION-PLUS POPULATIONS ACCOUNTED FOR </p>
                <ul>
                    <li type="square">18.7% of all road accidents</li>
                    <li type="square">11.38% of all road accidents fatalities</li>
                    <li type="square">16.7% of all persons injured in road accidents</li>
                </ul>


                <h5 class="card-title">CITIES WITH THE MOST DANGEROUS ROADS</h5>
                <table class="table" style="font-size: 70%">
                    <thead>
                      <tr>
                        <th scope="col" style="color: crimson">Cities</th>
                        <th scope="col" style="color: crimson">No. of accidents</th>
                      </tr>
                    </thead>
                    <tbody style="font-size: 120%">
                      <tr>
                          <td>Chennai</td>
                          <td>7,486</td>
                      </tr>
                      <tr>
                          <td>Delhi</td>
                          <td>7,375</td>
                      </tr>
                      <tr>
                          <td>Bengaluru</td>
                          <td>5,323</td>
                      </tr>
                      <tr>
                          <td>Indore</td>
                          <td>5,143</td>
                      </tr>
                      <tr>
                          <td>Kolkata</td>
                          <td>4,104</td>
                      </tr>
                      <tr>
                          <td>Mumbai</td>
                          <td>3,379</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
        </div>
  </div>
</body>
