<div class="card">
    <div class="card-body"  style="text-align: center">
    <b> Hi {{username}}, Have  any  new  information ? Please, <a href="/person">update </a> by  clicking  here!!</b>
    </div>
  </div>
<div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Accident Id</th>
          <th scope="col">License No</th>
          <th scope="col">Cause for Accident</th>
          <th scope="col">Have safety belt or helmet</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of persons; let myIndex = index;">
          <th scope="row">{{myIndex + 1}}</th>
          <td><a [routerLink]="['/list',record.accident_id]">{{record.accident_id}}</a></td>
          <td>{{record.license_no}}</td>
          <td>{{record.caused_the_accident}}</td>
          <td>{{record.safety_belt_or_helmet}}</td>
        </tr>
      </tbody>
    </table>
  </div>
