.create-form{
  position: relative;
  left: 40%;
  min-width: 25%;
  width: 10%;
}

.mat{
  position: relative;
  left:40%;
}

.field{
  width: 100%;
}



.but{
  position: relative;
  color: brown;
}

