<div>
  <br>
    <mat-card>
      <section class="mat">
        <h3>Victim</h3>
      </section>

      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">

        <mat-form-field class="field">
          <input type="text" matInput placeholder="Street Number" formControlName="s_no" #s_no>
        </mat-form-field>
        <br><br>
        <mat-form-field class="field">
          <input matInput placeholder="Street Name" formControlName="s_name" #s_name>
        </mat-form-field>
        <br><br>
        <mat-form-field class="field">
          <input type="text" matInput placeholder="Location" formControlName="location" #location>
        </mat-form-field>
        <br><br>
        <mat-form-field class="field">
          <input matInput placeholder="Latitude" formControlName="glat" #glat>
        </mat-form-field>
        <br><br>

        <mat-form-field class="field">

            <input type="number" matInput placeholder="Longitude"  formControlName="glong" #glong>
          </mat-form-field>

        <mat-divider></mat-divider>
        <br><br>
        <button class="but" type="submit" (click)=" addS()"
        [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>

      </form>
    </mat-card>
